@font-face {
  font-family: 'Avenir';
  src: url('assets/fonts/AvenirLTStd-Roman.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('assets/fonts/AvenirLTStd-Book.otf') format("opentype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('assets/fonts/AvenirLTStd-Black.otf') format("opentype");
  font-weight: bold;
  font-style: normal;
}